:root {
  --font-size-75: 0.75rem;
  --font-size-1: 1rem;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

/* ====== header ====== */

.header {
  position: sticky;
  background: white;
  top: 0;
  width: 100%;
  height: 2rem;
  margin-top: 10px;

  padding: 5px;
}
.header__container {
  display: flex;
  height: 100%;
}

.header__name {
  position: relative;
  height: 100%;
  width: 20%;
  right: 10px;
  margin: 0;
}

/* ====== select menuList ====== */
.select__menuList {
  width: 80%;
  margin: 0;
  padding-left: 0%;
  margin-bottom: 15px;
  list-style: none;
}
.select__menuList li {
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  color: grey;
  border: 0.25px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.select__menuList li:hover {
  color: steelblue;
  border-color: steelblue;
}

/* ====== Nav Menu ====== */

.section__nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 250px;
  height: 450px;
  top: 15%;
  z-index: 5;
  color: white;
  transform: translateX(-240px);
  transition: all ease-in-out 0.4s;
}

.nav__container {
  box-sizing: border-box;
  width: 240px;
  height: 100%;
  background: rgba(37, 36, 37, 0.8);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.nav__bar {
  width: 5px;
  height: 300px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgba(37, 36, 37, 0.9);
}
/* ====== User Profile ====== */

.user__profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.user__info {
  display: flex;
  width: 100%;
  padding: 10px;
}

.user__profile-img {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;
}

#user-name {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#user-interest {
  font-size: var(--font-size-75);
  word-break: keep-all;
  margin: 0;
}

.profile__nav-list {
  list-style: none;
  padding: 0;
}
.profile__nav-list li {
  display: block;
  width: 180px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}
.profile__nav-list li:hover {
  color: white;
}
.profile__nav-list li::selection {
  color: white;
}
.nav-icon {
  float: left;
}

/* ====== UserStory ====== */
.user__story {
  display: block;
}
.user__story-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.user__story-container div {
  margin: 0;
  padding: 0;
  width: 190px;
  height: 250px;
}

.user__story-container div img {
  width: 100%;
  height: 100%;
}
